/* ./your-css-folder/tailwind.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";



.freelancers {
    padding: 50px;
    @apply flex justify-start;
    @apply grid grid-cols-4 gap-6;
}

.user-card {
    @apply border-l-2 rounded-md shadow-md p-8 m-4 ; 
    margin-bottom: 100px;
    transition: transform .2s;
}

.user-card:hover {
    transform: scale(1.1);
}



.senegalFlag {
    width: 100%;
    height: 400px;
  }

  /* .service {
      @apply text-red-600;
  } */